/* You can add global styles to this file, and also import other style files */
@use '@nebular/auth/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
  @include nb-auth-global();
}

.inputEmail{
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: stretch
}
.inputSenha{
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: stretch
}
.inputConfirmeSenha{
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: stretch
}

.teacherOrStudent{
  margin-top:10em;
}